name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  DOTNET_VERSION: 6.0.x

jobs:
  build:
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Use .NET ${{ env.DOTNET_VERSION }}
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Build application
      run: dotnet build .\WinQuickLook\WinQuickLook.csproj /p:Platform=x64 /p:Configuration=Release /verbosity:minimal

    - name: Lint C# code
      run: dotnet format whitespace --verify-no-changes --verbosity detailed --no-restore
