name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  DOTNET_VERSION: 9.0.x

jobs:
  build:
    if: ${{ !github.event.pull_request.draft }}
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v5
      with:
        submodules: true

    - name: Use .NET ${{ env.DOTNET_VERSION }}
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Build solutions
      run: dotnet build .\WinQuickLook.slnx -c Release -p:Platform=x64

    - name: Run test cases
      run: dotnet test .\WinQuickLook.slnx -c Release -p:Platform=x64 --no-build

    - name: Lint C# code
      run: dotnet format .\WinQuickLook.slnx --verify-no-changes --verbosity detailed --no-restore
